body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px goldenrod;
}

h2 {
    text-align: center;
}

.gameScreen {
    display: flex;
}

ol li{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(rgb(255, 217, 0), rgb(234, 178, 35)) ;
    border-radius: 5px;
    text-align: right;
    background-blend-mode: luminosity;
    box-shadow: 2px 2px gray;
    width: 100px;
}

.suitcases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgoldenrodyellow
}

#suitcase {
    border-width: 2px black;
    margin: 10px;
    padding: 10px;
    background-color: silver;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    box-shadow: 2px 2px gray;
}